.div {
  width: 454px;
  height: 454px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 454;
  height: 454;
}
.stack {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200;
  height: 200;
}
.progress {
  width: 200;
  height: 200;
  stroke-width: 20;
  center-x: 100;
  center-y: 100;
  radius: 100;
  total-angle: -360;
  start-angle: 0;
  color: dodgerblue;
}
.centerText {
  align-items: center;
  width: 200;
  height: 200;
}
.text {
  width: 200;
  text-align: center;
  font-size: 38px;
}
.button {
  margin-top: 20;
  width: 200;
  height: 120;
  font-size: 38px;
}
.fullText {
  width: 354;
  padding-top:154;
  padding-left:80;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 38px;
}
.image {
  width:454;
  height:454;
}

