.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0px;
    top: 0px;
    width: 454px;
    height: 454px;
}
.SOFText {
    width: 300;
    text-align: center;
}
.SOFImg {
    width:200;
    height:200;
    margin-bottom:20;
}